<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beixin.dao.RentinfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.beixin.model.Rentinfo">
                    <id column="id" property="id"/>
                    <result column="houses_id" property="housesId"/>
                    <result column="customer_id" property="customerId"/>
                    <result column="contract_id" property="contractId"/>
                    <result column="address" property="address"/>
                    <result column="remarks" property="remarks"/>
                    <result column="create_time" property="createTime"/>
                    <result column="djr" property="djr"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="xgr" property="xgr"/>
                    <result column="status" property="status"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, houses_id, customer_id, contract_id, address, remarks, create_time, djr, update_time, xgr, status
        </sql>


    <resultMap id="queryRentinfoAllMap" type="com.beixin.model.Rentinfo" extends="BaseResultMap">
        <association property="customer" javaType="com.beixin.model.Customer">
            <id column="id" property="id"></id>
            <result column="identity" property="identity"/>
            <result column="custname" property="custname"/>
            <result column="phone" property="phone"/>
        </association>
        <association property="houses" javaType="com.beixin.model.Houses">
            <id column="id" property="id"></id>
            <result column="numbers" property="numbers"/>
            <result column="address" property="address"/>
        </association>
        <association property="contract" javaType="com.beixin.model.Contract">
            <id column="id" property="id"></id>
            <result column="money" property="money"/>
        </association>
    </resultMap>

    <select id="queryRentinfoAll" parameterType="com.beixin.model.Rentinfo" resultMap="queryRentinfoAllMap">
        SELECT
        hou.address,
        hou.numbers,
        cus.custname,
        cus.identity,
        cus.phone,
        con.money,
        info.*
        FROM
        rentinfo info
        LEFT JOIN houses hou ON hou.id = info.houses_id
        LEFT JOIN customer cus ON cus.id = info.customer_id
        LEFT JOIN contract con ON con.id = info.contract_id
        <where>
            <if test="customer!=null">
                <if test="customer.identity!=null and customer.identity!=''">
                    and   identity like '%${customer.identity}%'
                </if>
            </if>
            <if test="houses!=null">
                <if test="houses.numbers!=null and houses.numbers!=''">
                    and   numbers like '%${houses.numbers}%'
                </if>
            </if>
            <if test="customerId!=null and customerId!=''">
                and   info.customer_id =#{customerId}
            </if>
        </where>
    </select>

    <select id="queryRentInfoByHouId" parameterType="int" resultType="com.beixin.model.Rentinfo">
          select * from rentinfo where houses_id=#{id}
    </select>

</mapper>